# Servidor
PORT=3000
NODE_ENV=development

# Frontend autorizado por CORS
FRONTEND_URL=http://localhost:5173

# Base de datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=vivero_municipal
DB_PORT=3306

# JWT
JWT_SECRET=coloque_aqui_una_clave_segura
JWT_EXPIRES_IN=8h
